$primary: #ff7a7f;
$light: #f3f3f3;

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../../componentes/header/header';
@import '../../componentes/footer/footer';
@import '../../componentes/home/home';
@import '../../componentes/mainAside/mainAside';
@import '../../componentes/singlePost/singlePost';
@import '../../pages/auth/auth';
@import "../../pages/write/write";
@import "../../pages/account/account";
@import "../../componentes/form/form";
// #f8f8f8
// font-family: 'Open Sans', sans-serif;
body{
    font-family : 'Josefin Sans', sans-serif;
    background: $light;
    #root{
        max-width: 1600px;
    }
}

// input:-internal-autofill-selected {
//     background-color: transparent !important;
//     background: transparent !important;
// }

// input.form-control:-internal-autofill-selected {
//     background-color: red;
//     background: red;
// }

input.form-control:-webkit-autofill{
    color: $white !important;
    background-color: #B5BDCB !important;
}

.bg-body{
    background-color: $light !important;
}

@media (min-width: "567px") {
    .max-w-sm-75{
        max-width: 75%;
    }    
}

.normalize-btn{
    width: fit-content;
    height: fit-content;
    padding: 0px;
    background-color: transparent;
    
    &,
    &:focus,
    &:hover,
    &.active{
        box-shadow: none !important;
        border: none !important;
        outline:  none !important;
    }
}

.fs-7{
    font-size: 0.85rem !important;
}

.fs-8{
    font-size: 0.75rem !important;
}

.w-fit{
    width: fit-content !important;
}

.h-fit{
    height: fit-content !important;
}

.box-shadow-sm{
    box-shadow: 0.1rem 0.1rem 0.1rem 0rem black;
}
.shadow-very-sm{
    box-shadow: 0.2rem 0.2rem 0.1rem 0rem $dark;
}

.styled-box{
    box-shadow: 3px 4px 1px black !important;
    border: 2px solid black !important;
}

.line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.line-clamp-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.first-font-family{
    font-family : 'Josefin Sans', sans-serif;
}

.second-font-family{
    font-family: 'Open Sans', sans-serif;
}

.main-button{
    &:hover, & *:hover{
        color: $primary !important;
        background-color: transparent;
    }
    &.active{
        background-color: transparent;
    }
}

.navbar{

    .auth-container{
            
        .nav-link{
            width: calc(4.5rem + 0.65vw) !important;
        }
    }
}

.dropdown {
    min-width: 100%;
    position: absolute;
    inset-inline-end: 0px;
    top: calc(100% + 0.5rem);
    text-wrap: nowrap;
    text-align: start;
    border: 1px solid black;
    background-color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem 0rem black;

    &.show{
        opacity: 1;
        visibility: visible;
        ::before{
            inset: 0%;
        }
    }

    & .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background: white;
    }
}

.active, .active *{
    color: $primary;
    transition: 0.2s color;
}

.btn-check{
    & + label{
        border-radius: 0.15rem;
    }

    &:not(:checked) + label{
        background: transparent !important;
    }
    &:checked + label{
        color: white !important;
    }
}

.btn-wrapper{
    border: 2px solid black;

    button{
        width: 100% !important;
        height: 100% !important;
        border-radius: 90px !important;
    }
}

.modal-backdrop{
    display: none !important;
}
.strike{
    display: block;
    position: relative !important;
}
.strike::before{
    content: "";
    width: 0%;
    height: 2px;
    position: absolute;
    top: 50% !important;
    left: 50% !important;
    background: $dark;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    transition: width 0.2s;
}
.active.strike::before{
    width: 45px !important;
}
.active.strike-w-100::before{
    width: 100% !important;
}

@media (min-width: "992px"){
    .position-lg-sticky{
        position: sticky;
    }
}

.vector{
    width: 40px;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid black;
    box-shadow: 0.1rem 0.1rem 0.1rem 0rem black;

    &:hover > *{
        transition: color 0.2s;
        color: $primary !important;
    }
}