#singlePost{
    div{
        span:has(.like-btn),
        span:has(.save-btn),
        span:has(.share-btn){
            border: 1px solid $dark;
            box-shadow: 1px 1px 1px $dark;
            position: relative;
        }

        .count{
            font-size: 0.75rem;
            line-height: 1.6;
            border: 1px solid #212529;
            box-shadow: 1px 1px 1px #212529;
        }        
    }


    #createComment{
        form{
            input{
                box-shadow: 3px 3px 1px $primary;
                &::placeholder{
                    color: white !important;
                }
            }
        }
    }
    .rdw-editor-toolbar{
        display: none !important;
    }
}